body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

#header-nav {
	background-color: #556270;
}

.navbar-header button {
	margin-top: 20px;
	margin-bottom: 20px;
}

.navbar-brand h1 {
	color: #FFF;
}
.navbar-brand {
	padding: 0;
	height: auto;
}

.simple-text h2 {
	padding-top: 20px;
}

.nav {
	margin-top: 0;
	margin-bottom: 0;
} 

#nav-list a {
  color: #FFF;
  text-align: center;
  font-size: 18px;
  padding: 20px;
}

.navbar-brand a:hover {
	text-decoration: none;
}

.navbar-nav a {
	background-color: #4ECDC4;
	color: #FFF;
}

#main-content .text  {
	background-color: #4ECDC4;
	border-radius: 5px;
}  

#main-content .simple-text p {
	padding: 20px;
}

@media (max-width: 768px){
	.simple-text {
		padding: 25px;
	}
	.navbar-brand h1 {
		margin-left: 20px;
	}
}

